{% if product.description != blank %}
  <div class="product-description rte" itemprop="description">
    {{ product.description }}
  </div>

<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

{% endif %}
