<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription login assistant
	http://rechargepayments.com: v0.1
-->
<style>
	div#rc_login {
		display: block;
		width: 100%;
		text-align: center;
		margin: 60px auto;
	}
</style>
<div id="rc_login" style="display: none;">
	<h3>Need help accessing your existing Coffee Subscription options?</h3>
	</p>
      <a href="/tools/recurring/get-subscription-access">
      <input type="button"
        class="button primary"
             value="Access Subscription Account"
</div>
</a>
<p>
</p>Or you can sign up to manage your subscription via text by clicking here:</p>
<a href=https://www.verenastreet.com/pages/subscription-management-via-text>
  	<input type="button"
           class="button primary"
           		value="Manage Subscription via Text SMS"
<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->
